{% extends 'front.html.twig' %}
{% block content %}


    <div class="main-container">
        <div class="container">

            <div class="col-xl-12 content-box ">
                <div class="row row-featured row-featured-category">
                    <div class="col-xl-12  box-title no-border">
                        <div class="inner">
                            <h1><span>Mes demandes</span></h1>
                        </div>


                        <table class="table table-striped table-bordered" id="reparation">

                            <tr>
                                <th>Votre produit</th>
                                <th>Produit choisi</th>
                                <th>EtatDemande</th>
                            </tr>

                            {% if demandes is not empty %}
                            {%  for demande in demandes %}

                                <tr>

                                    <td>{{ demande.nomProduit2 }}</td>

                                    <td>{{ demande.nomProduit1 }}</td>

                                    <td>{{ demande.etatDemande }}</td>


                                    {#{% if echange.etatEchange =="demande" %}#}
                                        {#<td>#}
                                            {#<a href="AccepterDemandeEchange/{{ echange.idEchange }}}" class="btn btn-success" >Accepter</a>#}
                                            {#<a href="RefuserDemandeEchange/{{ echange.idEchange }}}" class="btn btn-danger" >Refuser</a>#}
                                        {#</td>#}

                                    {#{% elseif echange.etatEchange=="accepte" %}#}

                                        {#<td style="background-color: green">Echange accepté</td>#}

                                    {#{% elseif echange.etatEchange=="refuse" or echange.etatEchange=="" %}#}

                                        {#<td style="background-color: red">Aucune demande d'échange</td>#}

                                    {#{% endif %}#}



                                </tr>

                            {% endfor %}
                        </table>
                        {% else %}
                            <br>
                            <h3 align="center">Vous avez aucune demande</h3>
                            <br>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}