{% extends '@FrontOffice/accueil.html.twig' %}
{% block produit %}

    {%  for produit in produits %}

        <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">



            <a><img alt="" src="{{ asset('uploads/images/'~produit.imageProduit) }}"></a>


                    <h6> à {{ produit.operationProduit }}</h6>


        </div>

    {% endfor %}


{% endblock produit %}