{% extends '@FrontOffice/accueil.html.twig' %}
{% block produit %}

    {%  for produit in produits %}

        <div class="col-xl-2 col-md-3 col-sm-3 col-xs-4 f-category">

            <a><img alt="" src="{{ asset('uploads/images/'~produit.imageProduit) }}"></a>

            {% if produit.operationProduit=="echanger" %}

            <li class="postadd nav-item"><a class="btn btn-block   btn-border btn-post btn-info nav-link"  href="ViewProduit/{{ produit.idProduit }}}">Echanger</a>

            {% elseif produit.operationProduit=="donner" or produit.operationProduit=="recycler" %}


                <h6> à {{ produit.operationProduit }}</h6>


            {% endif %}
        </div>

    {% endfor %}

{% endblock produit %}