{% extends 'front.html.twig' %}
{% block content %}


    <div class="main-container">
        <div class="container">

            <div class="col-xl-12 content-box ">
                <div class="row row-featured row-featured-category">
                    <div class="col-xl-12  box-title no-border">
                        <div class="inner">
                            <h1><span>Mes produits</span></h1>
                        </div>

                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div id="mmm" class="alert alert-{{ label }}">
                                    {{ message }}

                                </div>
                            {% endfor %}

                        {% endfor %}

                        {% if produits is not empty %}
                        <table class="table table-striped table-bordered" id="produits">

                            <tr>

                                <th>Nom</th>
                                <th>Desctiption</th>
                                <th>Image</th>
                                <th>Operation</th>
                                <th>Actions</th>

                            </tr>


                            {%  for produit in produits %}

                                <tr>

                                    <td>{{ produit.nomProduit }}</td>

                                    <td>{{ produit.descriptionProduit }}</td>

                                    <td><img style="width:250px;height:300px;" alt="" src="{{ asset('uploads/images/'~produit.imageProduit) }}"></td>

                                    <td>{{ produit.operationProduit }}</td>
                                    <td>
                                        <a href="" class="btn btn-info" id="button">Show</a>
                                        <a href="Modifier/{{ produit.idProduit }}}" class="btn btn-success">Edit</a>
                                        <a href="Supprimer/{{ produit.idProduit }}" class="btn btn-danger" data-id="{{ produit.idProduit }}" onclick="if(!confirm('Are you sure ?')) { return false; }">Delete</a>
                                        <a href=" {{ path('AjouterLivraison',{'idproduit':produit.idProduit}) }}" class="btn btn-primary">Ajouter une livraison</a>
                                    </td>


                                </tr>

                            {% endfor %}


                            {% else %}
                                <br>
                                <div align="center">
                                    <h1 style="color: green">Vous avez aucun produit</h1>
                                    <h3 style="color: red">Ajouter ici un produit</h3>

                                    <i class="icon-down-hand" style="font-size: 40px;color: red" ></i>

                                    <li class="postadd nav-item"><a class="btn btn-block   btn-border btn-post btn-warning nav-link" href="{{ asset('app_dev.php/Front/AjouterProduit') }}" style="width: 250px">Ajouter un produit</a></li>

                                </div>
                                <br>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block js %}
    <script language="JavaScript">

        setTimeout(function(){
            $('#mmm').remove();
        }, 5000);

    </script>
{% endblock %}