{% extends 'front.html.twig' %}

{% block content %}

    <div class="main-container">
        <div class="container">

            <div class="col-xl-12 content-box ">
                <div class="row row-featured row-featured-category">
                    <div class="col-xl-12  box-title no-border">
                        <div class="inner">
                            <h2><span>Ajouter un produit</span></h2>
                        </div>

                        {{ form(form) }}


                    </div>







                </div>
            </div>
        </div>
    </div>


{% endblock %}