{% extends 'front.html.twig' %}
{% block content %}


    <div class="main-container">
        <div class="container">

            <div class="col-xl-12 content-box ">
                <div class="row row-featured row-featured-category">
                    <div class="col-xl-12  box-title no-border">
                        <div class="inner">
                            <h1><span>Corbeille</span></h1>
                        </div>

                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div id="mmm" class="alert alert-{{ label }}">
                                    {{ message }}

                                </div>
                            {% endfor %}

                        {% endfor %}

                        <table class="table table-striped table-bordered" id="produits">

                            <tr>

                                <th>Nom</th>
                                <th>Desctiption</th>
                                <th>Image</th>
                                <th>Operation</th>
                                <th>Actions</th>

                            </tr>

                            {% if produits is not empty %}

                            {%  for produit in produits %}

                                <tr>

                                    <td>{{ produit.nomProduit }}</td>

                                    <td>{{ produit.descriptionProduit }}</td>

                                    <td><img style="width:250px;height:300px;" alt="" src="{{ asset('uploads/images/'~produit.imageProduit) }}"></td>

                                    <td>{{ produit.operationProduit }}</td>
                                    <td>
                                        {#<a href="" class="btn btn-info" id="button">Show</a>#}
                                        <a href="RestaurerProduit/{{ produit.idProduit }}" class="btn btn-success" data-id="{{ produit.idProduit }}" onclick="if(!confirm('Are you sure ?')) { return false; }"><i class="fa fa-upload"></i>Restaurer</a>
                                    </td>


                                </tr>

                            {% endfor %}



                        </table>
                        {% else %}
                            <br>
                            <div align="center">
                                <h1 style="color: green">Vous avez aucun produit dans la corbeille</h1>

                            </div>
                            <br>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block js %}
    <script language="JavaScript">

        setTimeout(function(){
            $('#mmm').remove();
        }, 5000);

    </script>
{% endblock %}