{% extends 'front.html.twig' %}

{% block content %}

    <div class="main-container">
        <div class="container">

            <div class="col-xl-12 content-box ">
                <div class="row row-featured row-featured-category">
                    <div class="col-xl-12  box-title no-border">
                        <div class="inner">
                            <h2><span>Modifier un produit</span></h2>
                        </div>

                        {#<form method="POST">#}
                            {#Nom du produit: <input type="text" name="Nom" value="{{#}
                            {#produit.NomProduit }}">#}
                            {#<br>#}
                            {#Description: <input type="text" name="Description" value="{{ produit.DescriptionProduit#}
                            {#}}"></br>#}
                            {#<input type="submit" value="Enregistrer">#}
                        {#</form>#}

                        {#{{ form(form) }}#}
                        {{ form_start(form) }}

                        {#{{ form_row(form.ImageProduit) }}#}
                        {% if form.vars.value.ImageProduit is not null %}
                            <img style="width:250px;height:300px;"src="{{ asset('uploads/images/' ~ form.vars.value.ImageProduit) }}" alt="">
                        {% endif %}

                        {{ form_end(form) }}
                    </div>







                </div>
            </div>
        </div>
    </div>


{% endblock %}