{% extends '@FrontOffice/accueil.html.twig' %}
{% block content %}

    <div class="main-container">
        <div class="container">

            <div class="col-xl-12 content-box ">
                <div class="row row-featured row-featured-category">
                    <div class="col-xl-6  box-title no-border">
                        <div class="inner">
                            <h2><span>Le produit à échanger</span></h2>
                        </div>


                    <div class="col-md-6">
                        <a><img style="width:250px;height:300px;" alt="" src="{{ asset('uploads/images/'~produit1.imageProduit) }}"></a>
                        <br>
                    </div>

                    <div class="col-md-6">
                        Nom du produit: {{ produit1.nomProduit }}
                        <br>
                        Description du produit: {{ produit1.descriptionProduit }}

                    </div>

                    </div>
                </div>


                {% for flashMessage in app.session.flashbag.get('error') %}

                    <div class="alert alert-warning">
                        {{ flashMessage }}
                    </div>

                {% endfor %}


                {% if produit2 is not empty %}
                <table class="table table-striped table-bordered" id="produits">

                    <tr>

                        <th>Nom</th>
                        <th>Desctiption</th>
                        <th>Image</th>
                        <th>Echange</th>

                    </tr>


                    {%  for produit in produit2 %}

                        {% if produit.operationPRoduit=="echanger" %}
                        <tr>

                            <td>{{ produit.nomProduit }}</td>

                            <td>{{ produit.descriptionProduit }}</td>

                            <td><img alt="" src="{{ asset('uploads/images/'~produit.imageProduit) }}"></td>
                            <td><a class="btn btn-block   btn-border btn-post btn-info nav-link"
                                   href="DemanderEchangerProduit/{{ produit.idUser }}/{{ produit.idProduit }}/{{ produit1.idProduit }}"
                                   onclick="if(!confirm('Etes vous sur ')) { return false; }">Demander l'echanger</a></td>



                        </tr>
                        {% endif %}

                    {% endfor %}



                </table>

                {% else %}
                    <br>
                    <div align="center">
                    <h1 style="color: green">Vous avez aucun produit à echanger</h1>
                    <h3 style="color: red">Ajouter ici un produit</h3>

                            <i class="icon-down-hand" style="font-size: 40px;color: red" ></i>

                    <li class="postadd nav-item"><a class="btn btn-block   btn-border btn-post btn-warning nav-link" href="{{ asset('app_dev.php/Front/AjouterProduit') }}" style="width: 250px">Ajouter un produit</a></li>

                    </div>
                    <br>
                {% endif %}
            </div>
        </div>
    </div>



{% endblock %}