{% extends 'back.html.twig' %}

{% block content %}

    <div class="main-container">
        <div class="container">

            <div class="col-xl-12 content-box ">
                <div class="row row-featured row-featured-category">
                    <div class="col-xl-12  box-title no-border">
                        <div class="inner">
                            <h2><span>Statistique des produits</span></h2>
                        </div>

                        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

                        <script src="//code.highcharts.com/4.1.8/highcharts.js"></script>
                        <script src="//code.highcharts.com/4.1.8/modules/exporting.js"></script>
                        <script type="text/javascript">
                            {{ chart(chart) }}
                        </script>

                        <div id="piechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>

                    </div>







                </div>
            </div>
        </div>
    </div>


{% endblock %}


