{% extends 'front.html.twig' %}
{% block content %}


    <div class="main-container">
        <div class="container">

            <div class="col-xl-12 content-box ">
                <div class="row row-featured row-featured-category">
                    <div class="col-xl-12  box-title no-border">
                        <div class="inner">
                            <h1><span>Mes Echanges</span></h1>
                        </div>



                        <table class="table table-striped table-bordered" id="reparation">

                            <tr>

                                <th>id</th>
                                <th>usr1</th>
                                <th>usr2</th>
                                <th>Pr1</th>
                                <th>Pr2</th>
                                <th>Action</th>

                            </tr>


                            {%  for echange in echanges %}

                                <tr>

                                    <td>{{ echange.idEchange }}</td>

                                    <td>{{ echange.idUser1 }}</td>

                                    <td>{{ echange.idUser2 }}</td>

                                    <td>{{ echange.idProduit1 }}</td>

                                    <td>{{ echange.idProduit2 }}</td>

                                    {% if echange.etatEchange =="demande" %}
                                    <td>
                                        <a href="AccepterDemandeEchange/{{ echange.idEchange }}}" class="btn btn-success" >Accepter</a>
                                        <a href="RefuserDemandeEchange/{{ echange.idEchange }}}" class="btn btn-danger" >Refuser</a>
                                    </td>

                                    {% elseif echange.etatEchange=="accepte" %}

                                        <td style="background-color: green">Echange accepté</td>

                                    {% elseif echange.etatEchange=="refuse" or echange.etatEchange=="" %}

                                        <td style="background-color: red">Aucune demande d'échange</td>

                                    {% endif %}



                                </tr>

                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}