{% extends 'front.html.twig' %}
{% block content %}


    <div class="main-container">
        <div class="container">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="col-xl-12 content-box ">
                <div class="row row-featured row-featured-category">
                    <div class="col-xl-12  box-title no-border">
                        <div class="inner">
                            <h1><span>Mes livraisons</span></h1>
                        </div>

                        {% if livraisons != null %}
                        <table class="table table-striped table-bordered">

                            <tr>

                                <th>Adresse source</th>
                                <th>Adresse destination</th>
                                <th>Etat</th>
                                <th>Date de publication</th>
                                <th>prixlivraison</th>
                                <th>datelivraison</th>
                                <th>heureLivraison</th>


                            </tr>


                            {%  for livraison in livraisons %}

                                <tr>


                                    <td>{{  livraison.adresseLivraisonSource}}</td>
                                    <td>{{  livraison.adresseLivraisonDestination}}</td>
                                    <td>{{  livraison.etat}}</td>
                                    <td>{{  livraison.datepublication|date("m/d/Y")}}</td>
                                    <td>{{  livraison.prixlivraison}}</td>
                                    {%  if livraison.datelivraison == null %}
                                        <td>**********</td>
                                    {%  else %}
                                    <td>{{  livraison.datelivraison|date("m/d/Y")}}</td>
                                    {%  endif %}

                                    {%  if livraison.heurelivraison == null %}
                                        <td>**********</td>
                                    {%  else %}
                                        <td>{{  livraison.heurelivraison|date("H:i")}}</td>
                                    {%  endif %}



                                    <td><a class="btn btn-success" href="{{ path('ModifierLivraison',{'idlivraison':livraison.idlivraison}) }}">modifier</a></td>


                                <td><a class="btn btn-danger" href="{{ path('SupprimerLivraison',{'idlivraison':livraison.idlivraison}) }}">supprimer</a></td>
                                </tr>
                            {% endfor %}



                        </table>
                        {% else %}
                            <br>
                            <h3 align="center">vous n'avez pas de livraison programmée</h3>
                            <br>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
                <li class="nav-item"><a href="{{ asset('app_dev.php/Front/Accueil') }}" class="nav-link"><i class="icon-home"></i>Accueil </a></li>

                <li class="nav-item"><a href="{{ asset('app_dev.php/login') }}" class="nav-link"><i class="icon-login"></i> Login</a></li>

            {% endif %}
        </div>
    </div>



{% endblock %}