

{% block content %}




    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    <div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="row row-featured row-featured-category">
                    <div class="col-xl-12  box-title no-border">

                        <div class="inner">
                            <h4><span>Facture</span></h4>
                        </div>
                        {% if facture != null %}
                            <table class="table table-striped table-bordered">






                                <tr>
                                    <td>Facture numéro : </td>
                                    <td>{{  facture.idfacture}}</td>
                                </tr>
                                <tr>
                                    <td>Nom:</td>
                                    <td>{{  membre.nom}}</td>
                                </tr>
                                <tr>
                                    <td>Préom:</td>
                                    <td>{{  membre.prenom}}</td>
                                </tr>
                                <tr>
                                    <td>Prix livraison:</td>
                                    <td>{{  facture.prixlivraison}}</td>
                                </tr>
                                <tr>
                                    <td>Prix Reparation:</td>
                                    <td>{{  facture.prixreparation}}</td>
                                </tr>
                                <tr>
                                    <td>Total facture:</td>
                                    <td>{{  facture.totalfacture}}</td>
                                </tr>

                                {#<td class="text-right">#}
                                {#<a href="{{ path('AccepterLivraison',{'idlivraison':livraison.idlivraison}) }}" class="btn btn-link btn-info btn-just-icon like"><i class="material-icons">favorite</i></a>#}
                                {#<a href="#" class="btn btn-link btn-warning btn-just-icon edit"><i class="material-icons">dvr</i></a>#}
                                {#<a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>#}
                                {#</td>#}



                                </tr>
                                {#<tr><td><a href="{{ path('SupprimerLivraison',{'idlivraison':livraison.idlivraison}) }}">supprimer</a></td></tr>#}
                                {#<tr><td><a href="{{ path('ModifierLivraison',{'idlivraison':livraison.idlivraison}) }}">modifier</a></td></tr>#}



                                <tr>
                                    <td> Nom du produit à livrer :</td>
                                    <td>{{  produit.NomProduit}}</td>
                                </tr>



                            </table>
                        {% else %}
                            <br>
                            <h3 align="center">Vous n'avez pas de factures</h3>
                            <br>
                        {% endif %}
                    </div>
                </div>

            </div>
            <!-- end row -->
        </div>
    </div>


    {% else %}
       Vous n'etes pas authorisé

    {% endif %}
{% endblock %}