{% extends 'front.html.twig' %}
{% block content %}


    <div class="main-container">
        <div class="container">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="col-xl-12 content-box ">
                <div class="row row-featured row-featured-category">
                    <div class="col-xl-12  box-title no-border">
                        <div class="inner">
                            <h1><span>Mes Factures</span></h1>
                        </div>
                        {% if facture != null %}
                            <table class="table table-striped table-bordered">

                                <tr>

                                    <th>Prix de la livraison </th>

                                    <th>Prix de la réparation</th>
                                    <th>Total de la facture</th>
                                    <th>Id du produit</th>
                                    <th>Voir Facture</th>



                                </tr>


                                {%  for f in facture %}

                                    <tr>


                                        <td>{{  f.prixlivraison}}</td>
                                        {% if f.prixreparation != null %}
                                        <td>{{  f.prixreparation}}</td>
                                        {% else%}
                                            <td>-------</td>
                                        {% endif %}
                                        <td>{{  f.totalfacture}}</td>
                                        <td>{{  f.idproduit}}</td>
                                        <td>
                                        <a href="{{ path('UneFacture',{'idfacture':f.idfacture}) }}" class="btn btn-link btn-warning btn-just-icon edit"> <i class="icon-folder-close"></i></a>
                                        </td>


                                        {#<td><a class="btn btn-success" href="{{ path('ModifierLivraison',{'idlivraison':livraison.idlivraison}) }}">modifier</a></td>#}


                                        {#<td><a class="btn btn-danger" href="{{ path('SupprimerLivraison',{'idlivraison':livraison.idlivraison}) }}">supprimer</a></td>#}
                                    </tr>
                                {% endfor %}



                            </table>
                        {% else %}
                            <br>
                            <h3 align="center">vous n'avez pas de factures</h3>
                            <br>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% else %}
        <li class="nav-item"><a href="{{ asset('app_dev.php/Front/Accueil') }}" class="nav-link"><i class="icon-home"></i>Accueil </a></li>

        <li class="nav-item"><a href="{{ asset('app_dev.php/login') }}" class="nav-link"><i class="icon-login"></i> Login</a></li>

    {% endif %}


{% endblock %}