{% extends 'front.html.twig' %}
{% block content %}


    <div class="main-container">
        <div class="container">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="col-xl-12 content-box ">
                <div class="row row-featured row-featured-category">
                    <div class="col-xl-12  box-title no-border">
                        <div class="inner">

                        </div>
                     <p4> Votre livraison a été ajoutée! </p4>
                        <br><br>
                        <a href="{{ path("AfficherLivraison") }}"><i class="icon-hourglass"></i> Consulter vos livraisons </a>
                        <a href="{{ asset('app_dev.php/Front/AccueilMembers') }}" class="nav-link"><i class="icon-home"></i>Accueil</a>



                    </div>
                </div>
            </div>

            {% else %}
                <li class="nav-item"><a href="{{ asset('app_dev.php/Front/Accueil') }}" class="nav-link"><i class="icon-home"></i>Accueil </a></li>

                <li class="nav-item"><a href="{{ asset('app_dev.php/login') }}" class="nav-link"><i class="icon-login"></i> Login</a></li>

            {% endif %}
        </div>
    </div>



{% endblock %}