{% trans_default_domain 'FOSUserBundle' %}
{% extends 'front.html.twig' %}
{% block content %}

    <div class="main-container">
        <div class="container">

            <div class="col-xl-12 content-box ">
                <div class="row row-featured row-featured-category">
                    <div class="col-xl-12  box-title no-border">
                        <div class="inner">
                            <h2><span>s'inscrire</span></h2>
                        </div>



                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                        <div class="row">
                        <div class="col-xl-6">

                        <label>Nom</label>
                        {{ form_widget(form.nom,{'attr':{'class':'form-control','placeholder':'nom'}}) }}
                        </div>
                        <div class="col-xl-6">
                        <label>Prenom</label>
                        {{ form_widget(form.prenom,{'attr':{'class':'form-control','placeholder':'prenom'}}) }}
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-8">
                            <label>Adresse</label>
                        {{ form_widget(form.adresse,{'attr':{'class':'form-control','placeholder':'adresse'}}) }}
                            </div>
                            <div class="col-xl-4">
                                <label>Telephone</label>
                        {{ form_widget(form.telephone,{'attr':{'class':'form-control','placeholder':'telephone'}}) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6">
                        <label>email</label>
                            {{ form_widget(form.email,{'attr':{'class':'form-control','placeholder':'email'}}) }}
                            </div>
                            <div class="col-xl-6">
                        <label>Username</label>
                        {{ form_widget(form.username,{'attr':{'class':'form-control','placeholder':'Username'}}) }}
                            </div></div>
                        <div class="row">
                            <div class="col-xl-6">
                        <label>Password</label>
                        {{ form_widget(form.plainPassword.first,{'attr':{'class':'form-control','placeholder':'password'}}) }}
                            </div>
                            <div class="col-xl-6">
                        <label>Password confirmation</label>
                        {{ form_widget(form.plainPassword.second,{'attr':{'class':'form-control','placeholder':'confirmation password'}}) }}
                            </div></div>

                        <div class="hidden">
                        <div >

                            {{ form_widget(form.roles,{'attr':{'class':'form-control'}}) }}
                        </div>
                        </div>
                        <br><br>
                    <div class="row">
                        <div class="col-xl-4"></div>
                        <div class="col-xl-3 ">
                            <input class="btn btn-block   btn-border btn-post btn-danger nav-link" type="submit" value="{{ 'Register'|trans }}" />
                        </div>
                        <div></div>
                    </div>
                        {{ form_end(form) }}<br><br>
                    </div>







                </div>
            </div>
        </div>
    </div>
{% endblock %}
