{% extends 'back.html.twig' %}
{% block content %}


    <div class="main-container">
        <div class="container">

            <div class="col-xl-12 content-box ">
                <div class="row row-featured row-featured-category">
                    <div class="col-xl-12  box-title no-border">
                        <div class="inner">
                            <h1><span>Toutes les produits</span></h1>
                        </div>


                        <a class="btn btn-success" href="{{ asset('app_dev.php/Back/Tous_les_produits') }}"><i class="fa fa-download"></i><span> Excel</span></a>
                        <table class="table table-striped table-bordered" id="reparation">

                            <tr>

                                <th>Nom du Produit</th>
                                <th>Etat</th>
                                <th>Image</th>
                                <th>Supprimé</th>

                            </tr>


                            {%  for produit in produits %}

                                <tr >

                                    <td>{{ produit.nomProduit }}</td>

                                    <td>{{ produit.operationProduit }}

                                    <td><img style="width:150px;height:150px;" alt="" src="{{ asset('uploads/images/'~produit.imageProduit) }}"></td>





                                        {% if produit.corbeilleProduit=="non" %}

                                    <td style="background-color: green;font-weight: bold">non supprimé</td>

                                        {% else %}

                                    <td style="background-color: red;font-weight: bold"> supprimé</td>

                                        {% endif %}





                                </tr>

                            {% endfor %}
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}