{% extends 'front.html.twig' %}
{% block content %}


    <div class="main-container">
        <div class="container">

            <div class="col-xl-12 content-box ">
                <div class="row row-featured row-featured-category">
                    <div class="col-xl-12  box-title no-border">
                        <div class="inner">
                            <h1><span>Mes Réparations</span></h1>
                        </div>



                        <table class="table table-striped table-bordered" id="reparation">

                            <tr>

                                <th>Nom Produit</th>
                                <th>Etat</th>
                                <th>Date</th>
                                <th>Prix</th>
                                <th>Actions</th>

                            </tr>


                            {% if reparations is not empty %}
                            {%  for reparation in reparations %}

                                <tr>

                                    <td>{{ reparation.nomProduit }}</td>

                                    <td>{{ reparation.etatReparation }}</td>



                                        {#<td> {{ reparation.username is empty ? "Non Affecté":reparation.username }} </td>#}

                                    <td>{{ reparation.dateReparation is empty ? "" : reparation.dateReparation|date("m-d-Y") }}</td>

                                    <td>{{ reparation.prixReparation }}</td>





                                        {% if reparation.idReparateur is null %}

                                    <td style="background-color: red"> Reparation non encore affecté</td>

                                        {% elseif reparation.etatReparation=="termine" %}

                                    <td style="background-color: green">     Reparation est Affectée</td>

                                            {% elseif reparation.etatReparation=="en reparation" %}
                                                <td style="background-color: #00aec5">     Reparation en cours</td>
                                        {% endif %}





                                </tr>

                            {% endfor %}
                        </table>

                        {% else %}
                            <br>
                            <div align="center">
                                <h1 style="color: green">Vous avez aucun produit à réparer</h1>
                            </div>
                            <br>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}