{% extends 'back.html.twig' %}
{% block content %}


    <div class="main-container">
        <div class="container">

            <div class="col-xl-12 content-box ">
                <div class="row row-featured row-featured-category">
                    <div class="col-xl-12  box-title no-border">
                        <div class="inner">
                            <h1><span>Mes Réparations</span></h1>
                        </div>



                        {% if reparations is not empty %}
                        <table class="table table-striped table-bordered" id="reparation">

                            <tr>

                                <th>Nom Produit</th>
                                <th>Etat</th>
                                <th>Date</th>
                                <th>Prix</th>
                                <th>Actions</th>

                            </tr>



                            {%  for reparation in reparations %}

                                <tr >

                                    <td>{{ reparation.nomProduit }}</td>

                                    <td>{{ reparation.etatReparation }}



                                        {#<td> {{ reparation.username is empty ? "Non Affecté":reparation.username }} </td>#}

                                    <td>{{ reparation.dateReparation is empty ? "" : reparation.dateReparation|date("m-d-Y") }}</td>

                                        {% if reparation.prixReparation is not empty  %}
                                        <td>{{ reparation.prixReparation }} DT</td>
                                        {% else %}
                                        <td></td>
                                        {% endif %}
                                    <td>




                                        <a href="ModifierReparation/{{ reparation.idReparation }}}" class="btn btn-info">Modifier</a>

                                        <a href="RefuserReparation/{{ reparation.idReparation }}}" class="btn btn-warning" >Refuser</a>

                                    </td>


                                </tr>

                            {% endfor %}
                        </table>
                        {% else %}
                        <h1 align="center" style="color: red">Vous n'avez aucune réparation</h1>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}