{% extends 'back.html.twig' %}

{% block content %}

    <div class="main-container">
        <div class="container">

            <div class="col-xl-12 content-box ">
                <div class="row row-featured row-featured-category">
                    <div class="col-xl-12  box-title no-border">
                        <div class="inner">
                            <h2><span>Modifier une reparation</span></h2>
                        </div>

                        <form method="POST">

                            <label > Prix</label>
                                <input type="number" name="Prix" id="Prix" step="any" min="0" max="500" value="{{reparation.PrixReparation }}">


                            <br>
                            <label>Etat</label><input type="checkbox" id="Etat" onchange="check()"> Terminer la réparation
                            <br>

                            <input type="text" name="Date" id="Date" value="" hidden>
                            <input type="text" name="Etat" id="e" value="en reparation" hidden>
                            <br>

                            <input type="submit" value="Enregistrer">
                        </form>

                    </div>







                </div>
            </div>
        </div>
    </div>
<script>
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();

    if(dd<10) {
        dd = '0'+dd
    }

    if(mm<10) {
        mm = '0'+mm
    }

    today = yyyy + '-' + mm + '-' + dd;

function check() {
    if(document.getElementById("Etat").checked){

        document.getElementById("Date").value = today;
        document.getElementById("e").value = "termine";
    }
        else {
            document.getElementById("Date").remove();
    }

}

</script>

{% endblock %}