{% extends 'back_livreur.html.twig' %}

{% block content %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {% block body %}
            {% include '@FullCalendar/Calendar/calendar.html.twig' %}
        {% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
        {% endblock %}

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/jquery.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/lib/moment.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>

            {# <script type="text/javascript" src="{{ asset('bundles/fullcalendar/js/fullcalendar/locale-all.js') }}"></script> #}
        {% endblock %}

        {#<li class="nav-item"><a href="{{ asset('app_dev.php/Front/Accueil') }}" class="nav-link"><i class="icon-home"></i>Accueil </a></li>#}

        {#<li class="nav-item"><a href="{{ asset('app_dev.php/login') }}" class="nav-link"><i class="icon-login"></i> Login</a></li>#}


    {% else %}
        <script>window.location.replace("../../app_dev.php/login");</script>

    {% endif %}

{% endblock %}