{% extends 'back_livreur.html.twig' %}

{% block content %}




    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                <div class="row row-featured row-featured-category">
                    <div class="col-xl-12  box-title no-border">

                        <div class="inner">
                            <h4><span>Liste des livraisons</span></h4>
                            <form method="POST" action="{{ path('recherche_livraison_proche') }}">
                                Ville source :<input type="text" id="ville_source" name="ville_source">
                                <input type="hidden" id="longitude_source_saisie" name="longitude_source_saisie"/>
                                <input type="hidden" id="latitude_source_saisie" name="latitude_source_saisie">
                                Ville destination :<input type="text" id="ville_destination" name="ville_destination" >
                                <input type="hidden" id="longitude_destination_saisie" name="longitude_destination_saisie"/>
                                <input type="hidden" id="latitude_destination_saisie" name="latitude_destination_saisie"/>
                                <input type="submit" style="color: #9b59ff;background-color: transparent;border-color: transparent" value="Rechercher">
                            </form>

                            <div id="map" hidden="true"></div>
                            <div id="infowindow-content" hidden="true">
                                <img src="" width="16" height="16" id="place-icon">
                                <span id="place-name"  class="title"></span><br>
                                <span id="place-address"></span>
                            </div>
                            <script>
                                // This example requires the Places library. Include the libraries=places
                                // parameter when you first load the API. For example:
                                // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

                                function initMap() {
                                    var map = new google.maps.Map(document.getElementById('map'), {
                                        center: {lat: -33.8688, lng: 151.2195},
                                        zoom: 13
                                    });
                                    var card = document.getElementById('pac-card');
                                    var input = document.getElementById('ville_source');
                                    var input1 = document.getElementById('ville_destination');
                                    var types = document.getElementById('type-selector');
                                    var strictBounds = document.getElementById('strict-bounds-selector');


                                    map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

                                    /* */     var autocomplete = new google.maps.places.Autocomplete(input);
                                    var autocomplete1 = new google.maps.places.Autocomplete(input1);

                                    // Bind the map's bounds (viewport) property to the autocomplete object,
                                    // so that the autocomplete requests use the current map bounds for the
                                    // bounds option in the request.
                                    autocomplete.bindTo('bounds', map);

                                    // Set the data fields to return when the user selects a place.
                                    autocomplete.setFields(
                                        ['address_components', 'geometry', 'icon', 'name']);/**/
                                    var infowindow = new google.maps.InfoWindow();
                                    var infowindowContent = document.getElementById('infowindow-content');
                                    infowindow.setContent(infowindowContent);
                                    var marker = new google.maps.Marker({
                                        map: map,
                                        anchorPoint: new google.maps.Point(0, -29)
                                    });

                                    autocomplete.addListener('place_changed', function() {
                                        infowindow.close();
                                        marker.setVisible(false);
                                        var place = autocomplete.getPlace();
                                        //console.log("azeazesqd "+place.geometry.location.lat())
                                        document.getElementById('latitude_source_saisie').value = place.geometry.location.lat()
                                        document.getElementById('longitude_source_saisie').value = place.geometry.location.lng()


                                        if (!place.geometry) {
                                            // User entered the name of a Place that was not suggested and
                                            // pressed the Enter key, or the Place Details request failed.
                                            window.alert("No details available for input: '" + place.name + "'");
                                            return;
                                        }

                                        // If the place has a geometry, then present it on a map.
                                        if (place.geometry.viewport) {
                                            map.fitBounds(place.geometry.viewport);
                                        } else {
                                            map.setCenter(place.geometry.location);
                                            map.setZoom(17);  // Why 17? Because it looks good.
                                        }
                                        marker.setPosition(place.geometry.location);
                                        marker.setVisible(true);

                                        var address = '';
                                        if (place.address_components) {
                                            address = [
                                                (place.address_components[0] && place.address_components[0].short_name || ''),
                                                (place.address_components[1] && place.address_components[1].short_name || ''),
                                                (place.address_components[2] && place.address_components[2].short_name || '')
                                            ].join(' ');
                                        }

                                        infowindowContent.children['place-icon'].src = place.icon;
                                        infowindowContent.children['place-name'].textContent = place.name;
                                        infowindowContent.children['place-address'].textContent = address;
                                        infowindow.open(map, marker);
                                    });
                                    autocomplete1.addListener('place_changed', function() {
                                        infowindow.close();
                                        marker.setVisible(false);
                                        var place = autocomplete1.getPlace();

                                        document.getElementById('latitude_destination_saisie').value = place.geometry.location.lat()
                                        document.getElementById('longitude_destination_saisie').value = place.geometry.location.lng()


                                        if (!place.geometry) {
                                            // User entered the name of a Place that was not suggested and
                                            // pressed the Enter key, or the Place Details request failed.
                                            window.alert("No details available for input: '" + place.name + "'");
                                            return;
                                        }

                                        // If the place has a geometry, then present it on a map.
                                        if (place.geometry.viewport) {
                                            map.fitBounds(place.geometry.viewport);
                                        } else {
                                            map.setCenter(place.geometry.location);
                                            map.setZoom(17);  // Why 17? Because it looks good.
                                        }
                                        marker.setPosition(place.geometry.location);
                                        marker.setVisible(true);
                                        var address = '';
                                        if (place.address_components) {
                                            address = [
                                                (place.address_components[0] && place.address_components[0].short_name || ''),
                                                (place.address_components[1] && place.address_components[1].short_name || ''),
                                                (place.address_components[2] && place.address_components[2].short_name || '')
                                            ].join(' ');
                                        }


                                        // console.log(parseFloat(document.getElementById('appbundle_livraison_latitudeSource').value))
                                        infowindowContent.children['place-icon'].src = place.icon;
                                        infowindowContent.children['place-name'].textContent = place.name;
                                        infowindowContent.children['place-address'].textContent = address;
                                        infowindow.open(map, marker);
                                    });

                                    // Sets a listener on a radio button to change the filter type on Places
                                    // Autocomplete.
                                    function setupClickListener(id, types) {
                                        var radioButton = document.getElementById(id);
                                        radioButton.addEventListener('click', function() {
                                            autocomplete.setTypes(types);
                                        });
                                    }

                                    setupClickListener('changetype-all', []);
                                    setupClickListener('changetype-address', ['address']);
                                    setupClickListener('changetype-establishment', ['establishment']);
                                    setupClickListener('changetype-geocode', ['geocode']);

                                    document.getElementById('use-strict-bounds')
                                        .addEventListener('click', function() {
                                            console.log('Checkbox clicked! New state=' + this.checked);
                                            autocomplete.setOptions({strictBounds: this.checked});
                                        });
                                }




                            </script>

                            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHNR3vAW0ePVGSFhG8ABlI5LIbAHo_5FY&fbclid=IwAR2aEAzW3rxWmB4hh5Fu74bJQ3roda6Z4-f8O45jINB3z7rasfCeXhS4Qu8&libraries=places&callback=initMap"
                                    async defer></script>

                        </div>
                        {% if livraisons != null %}
                            <table class="table table-striped table-bordered" border="1">

                                <tr>

                                    <th>Adresse source</th>
                                    <th>Adresse destination</th>
                                    <th>Etat</th>
                                    <th>Date de publication</th>
                                    <th>Action</th>


                                </tr>


                                {%  for livraison in livraisons %}

                                <tr>


                                    <td width="250 px">{{  livraison.adresseLivraisonSource }}</td>
                                    <td width="250 px">{{  livraison.adresseLivraisonDestination }}</td>
                                    <td>{{  livraison.etat}}</td>
                                    <td>{{  livraison.datepublication|date("m/d/Y")}}</td>
                                    <td class="text-right">
                                        <a href="{{ path('SelectDateLivraison',{'idlivraison':livraison.idlivraison}) }}" class="btn btn-link btn-info btn-just-icon like"><i class="material-icons">favorite</i></a>
                                        <a href="{{ path('UneLivraison',{'idlivraison':livraison.idlivraison}) }}" class="btn btn-link btn-warning btn-just-icon edit"><i class="material-icons">dvr</i></a>
                                        {#<a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>#}
                                    </td>

                                    {#<td><a class="btn btn-success" href="{{ path('ModifierLivraison',{'idlivraison':livraison.idlivraison}) }}">modifier</a></td>#}


                                    {#<td><a class="btn btn-danger" href="{{ path('SupprimerLivraison',{'idlivraison':livraison.idlivraison}) }}">supprimer</a></td>#}
                                </tr>

                                {#<tr>#}
                                    {#<th>Date début de livraison</th>#}
                                    {#<th>Date limite de livraison</th>#}
                                    {#<th>Heure de livraison choisie</th>#}
                                    {#<th>Adresse source</th>#}
                                    {#<th>Adresse destination</th>#}
                                    {#<th>Etat</th>#}
                                    {#<th>Date de publication</th>#}
                                    {#<th class="disabled-sorting text-right sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 193px;" aria-label="Actions: activate to sort column ascending">Actions</th></tr>#}



                                {#</tr>#}


                                {#{%  for livraison in livraisons %}#}

                                    {#<tr>#}

                                        {#<td>{{  livraison.dateDebutLivraison|date("m/d/Y")}}</td>#}
                                        {#<td>{{  livraison.dateLimiteLivraison|date("m/d/Y")}}</td>#}
                                        {#<td>{{  livraison.heureLivraison|date("H:i:s")}}</td>#}
                                        {#<td>{{  livraison.adresseLivraisonSource}}</td>#}
                                        {#<td>{{  livraison.adresseLivraisonDestination}}</td>#}
                                        {#<td>{{  livraison.etat}}</td>#}
                                        {#<td>{{  livraison.datepublication|date("m/d/Y")}}</td>#}
                                        {#<td class="text-right">#}
                                            {#<a href="{{ path('AccepterLivraison',{'idlivraison':livraison.idlivraison}) }}" class="btn btn-link btn-info btn-just-icon like"><i class="material-icons">favorite</i></a>#}
                                            {#<a href="{{ path('UneLivraison',{'idlivraison':livraison.idlivraison}) }}" class="btn btn-link btn-warning btn-just-icon edit"><i class="material-icons">dvr</i></a>#}
                                            {#<a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>#}
                                        {#</td>#}



                                    {#</tr>#}
                                    {#<tr><td><a href="{{ path('SupprimerLivraison',{'idlivraison':livraison.idlivraison}) }}">supprimer</a></td></tr>#}
                                    {#<tr><td><a href="{{ path('ModifierLivraison',{'idlivraison':livraison.idlivraison}) }}">modifier</a></td></tr>#}

                                {% endfor %}



                            </table>
                        {% else %}
                            <br>
                            <h3 align="center">Il n'y a aucune demande de livraison pour l'instant, revenez plus tard</h3>
                            <br>
                        {% endif %}
                    </div>
                </div>

            </div>
            <!-- end row -->
        </div>
    </div>



    {% else %}
        <script>window.location.replace("../../app_dev.php/login");</script>

    {% endif %}

{% endblock %}