{% extends 'back_livreur.html.twig' %}

{% block content %}

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}




    <div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="row row-featured row-featured-category">
                    <div class="col-xl-12  box-title no-border">

                        <div class="inner">
                            <h4><span>Mes livraisons</span></h4>
                        </div>
                        {% if livraisons != null %}
                            <table class="table table-striped table-bordered">

                                <tr>
                                    <th>Adresse source</th>
                                    <th>Adresse destination</th>
                                    <th>Etat</th>
                                    <th>Date de publication</th>
                                    <th>datelivraison</th>
                                    <th>heureLivraison</th>
                                    <th>Voir livraison</th>
                                    {#<th class="disabled-sorting text-right sorting" tabindex="0" aria-controls="datatables" rowspan="1" colspan="1" style="width: 193px;" aria-label="Actions: activate to sort column ascending">Actions</th></tr>#}



                                </tr>


                                {%  for livraison in livraisons %}

                                    <tr>

                                        <td>{{  livraison.adresseLivraisonSource}}</td>
                                        <td>{{  livraison.adresseLivraisonDestination}}</td>
                                        <td>{{  livraison.etat}}</td>
                                        <td>{{  livraison.datepublication|date("m/d/Y")}}</td>
                                        {%  if livraison.datelivraison == null %}
                                            <td>**********</td>
                                        {%  else %}
                                            <td>{{  livraison.datelivraison|date("m/d/Y")}}</td>
                                        {%  endif %}

                                        {%  if livraison.heurelivraison == null %}
                                            <td>**********</td>
                                        {%  else %}
                                            <td>{{  livraison.heurelivraison|date("H:i")}}</td>
                                        {%  endif %}
                                        <td><a href="{{ path('UneLivraison',{'idlivraison':livraison.idlivraison}) }}" class="btn btn-link btn-warning btn-just-icon edit"><i class="material-icons">dvr</i></a>
                                            <a href="{{ path('TerminerLivraison',{'idlivraison':livraison.idlivraison}) }}" class="btn btn-link btn-warning btn-just-icon edit"> <i class="material-icons">close</i></a>
                                        </td>
                                        {#<td class="text-right">#}
                                            {#<a href="{{ path('AccepterLivraison',{'idlivraison':livraison.idlivraison}) }}" class="btn btn-link btn-info btn-just-icon like"><i class="material-icons">favorite</i></a>#}
                                            {#<a href="#" class="btn btn-link btn-warning btn-just-icon edit"><i class="material-icons">dvr</i></a>#}
                                            {#<a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>#}
                                        {#</td>#}



                                    </tr>
                                    {#<tr><td><a href="{{ path('SupprimerLivraison',{'idlivraison':livraison.idlivraison}) }}">supprimer</a></td></tr>#}
                                    {#<tr><td><a href="{{ path('ModifierLivraison',{'idlivraison':livraison.idlivraison}) }}">modifier</a></td></tr>#}

                                {% endfor %}



                            </table>
                        {% else %}
                            <br>
                            <h3 align="center">Il n'y a aucune demande de livraison pour l'instant, revenez plus tard</h3>
                            <br>
                        {% endif %}
                    </div>
                </div>

            </div>
            <!-- end row -->
        </div>
    </div>

    {% else %}
        <script>window.location.replace("../../app_dev.php/login");</script>

    {% endif %}
{% endblock %}