{% extends 'back_livreur.html.twig' %}

{% block content %}




    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">

                    <div class="row row-featured row-featured-category">
                        <div class="col-xl-12  box-title no-border">

                            <div class="inner">
                                <h4><span>Les livraisons les plus proches </span></h4>
                            </div>
                            {% if livraisons != null %}
                                <table class="table table-striped table-bordered" border="1">

                                    <tr>

                                        <th>Adresse source</th>
                                        <th>Adresse destination</th>
                                        <th>Etat</th>
                                        <th>Date de publication</th>


                                    </tr>


                                    {%  for livraison in livraisons %}

                                        <tr>


                                            <td width="250 px">{{  livraison.adresse_livraison_source }}</td>
                                            <td width="250 px">{{  livraison.adresse_livraison_destination }}</td>
                                            <td>{{  livraison.etat}}</td>
                                            <td>{{  livraison.date_publication|date("m/d/Y")}}</td>
                                            <td class="text-right">
                                                <a href="{{ path('SelectDateLivraison',{'idlivraison':livraison.idlivraison}) }}" class="btn btn-link btn-info btn-just-icon like"><i class="material-icons">favorite</i></a>
                                                <a href="{{ path('UneLivraison',{'idlivraison':livraison.idlivraison}) }}" class="btn btn-link btn-warning btn-just-icon edit"><i class="material-icons">dvr</i></a>
                                                {#<a href="#" class="btn btn-link btn-danger btn-just-icon remove"><i class="material-icons">close</i></a>#}
                                            </td>

                                        </tr>



                                    {% endfor %}



                                </table>
                            {% else %}
                                <br>
                                <h3 align="center">Il n'y a aucune demande de livraison pour l'instant, revenez plus tard</h3>
                                <br>
                            {% endif %}
                        </div>
                    </div>

                </div>
                <!-- end row -->
            </div>
        </div>



    {% else %}
        <script>window.location.replace("../../app_dev.php/login");</script>

    {% endif %}

{% endblock %}