{% extends 'back_livreur.html.twig' %}

{% block content %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="card">
            <div class="card-header card-header-icon card-header-rose">

                <h4 class="card-title">Saisir la date et l'heure de la livraison

                </h4>
            </div>
            <div class="card-body">
                <form method="POST" action="{{ path('AccepterLivraison',{'idlivraison':livraison.idlivraison}) }}">
                    <div class="row">
                        <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label >Veuillez choisir la date de la livraison  : </label>
                            <input id="datelivraison"  name="datelivraison" type="date" >

                        </div>
                        </div>
                        <div class="col-md-6">
                        <div class="form-group bmd-form-group">
                            <label >Veuillez choisir l'heure de la livraison  : </label>
                        <input class="form-control"id="heurelivraison" type="time" name="heurelivraison"
                               min="12:00" max="18:00">
                        <span class="validity"></span>
                        </div>
                        </div>
                    </div>
                <br><br><br>
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-">
                        <input type="submit" id="button"class="btn btn-rose pull-right" value="Accepter livraison">
                        </div>
                    </div>



                </form>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $('#button').click(function() {
        var dateformulaire= document.getElementById('datelivraison').value;
        console.log(dateformulaire);
        console.log(comparer(dateformulaire));
    });

    function comparer(dateformulaire)
    {
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();

        if (dd < 10) {
            dd = '0' + dd;
        }

        if (mm < 10) {
            mm = '0' + mm;
        }

        //today = mm + '/' + dd + '/' + yyyy;
        today= yyyy+'-'+  mm +'-' + dd;
console.log(today);
    if(today>dateformulaire)
    {
    alert('Vous avez sélectionnez une date incorrect!!');
        event.preventDefault();
    }


    }
</script>



    {#<button id="activate-step-2"  class="btn btn-primary btn-lg">Continuer</button>#}

    {% else %}
        <script>window.location.replace("../../../app_dev.php/login");</script>

    {% endif %}
{% endblock %}