{% extends 'back_livreur.html.twig' %}

{% block content %}



    {#<div id="map"></div>#}
    {#<script>#}
        {#var map;#}
        {#function initMap() {#}
            {#google.maps.event.addDomListener(window,'load', initialize);#}

            {#map = new google.maps.Map(document.getElementById('map'), {#}
                {#zoom: 7,#}
                {#center: {lat: 35.6759137, lng: 10.0919243}#}
            {#});#}
            {#myLatLng = new google.maps.LatLng({lat: 35.6759137, lng: 10.0919243});#}
            {#createMarker(myLatLng)#}

        {#}#}
    {#</script>#}
  {##}

    {#<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHtPK5xMroLA7kv4QWXa3xACfEWvZ4Njc&libraries=places"></script>#}

    {#<script type="text/javascript">#}
        {#var geocoder  = new google.maps.Geocoder();#}

        {#if (navigator.geolocation) {#}
            {#navigator.geolocation.getCurrentPosition(successFunction, errorFunction);#}
        {#}#}
        {#//Get the latitude and the longitude;#}
        {#function successFunction(position) {#}
            {#var lat = position.coords.latitude;#}
            {#var lng = position.coords.longitude;#}
            {#codeLatLng(lat, lng)#}
        {#}#}
        {#function createMarker(place) {#}
            {#var placeLoc = place.geometry.location;#}


            {#var marker = new google.maps.Marker({#}
                {#Map: map,#}
                {#position: place.geometry.location#}
            {#});#}

            {#google.maps.event.addListener(marker, 'click', function() {#}
                {#infowindow.setContent(place.name);#}
                {#infowindow.open(map, this);#}
            {#});#}
        {#}#}
        {#function errorFunction(){#}
            {#alert("Geocoder failed");#}
        {#}#}

        {#function initialize() {#}
            {#geocoder  = new google.maps.Geocoder();#}



        {#}#}

        {#function codeLatLng(lat, lng) {#}

            {#var latlng = new google.maps.LatLng(lat, lng);#}
            {#geocoder.geocode({'latLng': latlng}, function(results, status) {#}
                {#if (status == google.maps.GeocoderStatus.OK) {#}
                    {#console.log(results)#}
                    {#if (results[1]) {#}
                        {#//formatted address#}
                        {#//alert(results[0].formatted_address)#}
                        {#//find country name#}
                        {#for (var i=0; i<results[0].address_components.length; i++) {#}
                            {#for (var b=0;b<results[0].address_components[i].types.length;b++) {#}

                                {#//there are different types that might hold a city admin_area_lvl_1 usually does in come cases looking for sublocality type will be more appropriate#}
                                {#if (results[0].address_components[i].types[b] == "administrative_area_level_1") {#}
                                    {#//this is the object you are looking for#}
                                    {#city= results[0].address_components[i];#}
                                    {#break;#}
                                {#}#}
                            {#}#}
                        {#}#}
                        {#//city data#}
                        {#document.getElementById('location').value="Ariana";#}
                        {#// alert(city.short_name + " " + city.long_name)#}



                    {#} else {#}
                        {#alert("No results found");#}
                    {#}#}
                {#} else {#}
                    {#//alert("Geocoder failed due to: " + status);#}
                {#}#}
            {#});#}
        {#}#}
    {#</script>#}

    <div class="pac-card" id="pac-card">
        <div>
            <div id="title">
                Autocomplete search
            </div>
            <div id="type-selector" class="pac-controls">
                <input type="radio" name="type" id="changetype-all" checked="checked">
                <label for="changetype-all">All</label>

                <input type="radio" name="type" id="changetype-establishment">
                <label for="changetype-establishment">Establishments</label>

                <input type="radio" name="type" id="changetype-address">
                <label for="changetype-address">Addresses</label>

                <input type="radio" name="type" id="changetype-geocode">
                <label for="changetype-geocode">Geocodes</label>
            </div>
            <div id="strict-bounds-selector" class="pac-controls">
                <input type="checkbox" id="use-strict-bounds" value="">
                <label for="use-strict-bounds">Strict Bounds</label>
            </div>
        </div>
        <div id="pac-container">
            <input id="pac-input" type="text"
                   placeholder="Enter a location">
        </div>
    </div>
    <div id="map"></div>
    <div id="infowindow-content">
        <img src="" width="16" height="16" id="place-icon">
        <span id="place-name"  class="title"></span><br>
        <span id="place-address"></span>
    </div>

    <script>
        // This example requires the Places library. Include the libraries=places
        // parameter when you first load the API. For example:
        // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: -33.8688, lng: 151.2195},
                zoom: 13
            });
            var card = document.getElementById('pac-card');
            var input = document.getElementById('pac-input');
            var types = document.getElementById('type-selector');
            var strictBounds = document.getElementById('strict-bounds-selector');

            map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

            var autocomplete = new google.maps.places.Autocomplete(input);

            // Bind the map's bounds (viewport) property to the autocomplete object,
            // so that the autocomplete requests use the current map bounds for the
            // bounds option in the request.
            autocomplete.bindTo('bounds', map);

            // Set the data fields to return when the user selects a place.
            autocomplete.setFields(
                ['address_components', 'geometry', 'icon', 'name']);

            var infowindow = new google.maps.InfoWindow();
            var infowindowContent = document.getElementById('infowindow-content');
            infowindow.setContent(infowindowContent);
            var marker = new google.maps.Marker({
                map: map,
                anchorPoint: new google.maps.Point(0, -29)
            });

            autocomplete.addListener('place_changed', function() {
                infowindow.close();
                marker.setVisible(false);
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    // User entered the name of a Place that was not suggested and
                    // pressed the Enter key, or the Place Details request failed.
                    window.alert("No details available for input: '" + place.name + "'");
                    return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);  // Why 17? Because it looks good.
                }
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);

                var address = '';
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(' ');
                }

                infowindowContent.children['place-icon'].src = place.icon;
                infowindowContent.children['place-name'].textContent = place.name;
                infowindowContent.children['place-address'].textContent = address;
                infowindow.open(map, marker);
            });

            // Sets a listener on a radio button to change the filter type on Places
            // Autocomplete.
            function setupClickListener(id, types) {
                var radioButton = document.getElementById(id);
                radioButton.addEventListener('click', function() {
                    autocomplete.setTypes(types);
                });
            }

            setupClickListener('changetype-all', []);
            setupClickListener('changetype-address', ['address']);
            setupClickListener('changetype-establishment', ['establishment']);
            setupClickListener('changetype-geocode', ['geocode']);

            document.getElementById('use-strict-bounds')
                .addEventListener('click', function() {
                    console.log('Checkbox clicked! New state=' + this.checked);
                    autocomplete.setOptions({strictBounds: this.checked});
                });
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHNR3vAW0ePVGSFhG8ABlI5LIbAHo_5FY&fbclid=IwAR2aEAzW3rxWmB4hh5Fu74bJQ3roda6Z4-f8O45jINB3z7rasfCeXhS4Qu8&libraries=places&callback=initMap"
            async defer></script>


{% endblock %}