{% xlsdocument %}
    {% xlssheet 'Worksheet'{
        columnDimension: {
            'default': {
                autoSize: true,
                collapsed: false,
                outlineLevel: 0,
                visible: true,
                width: -1,
                xfIndex: 0
            }
        }
    }
    %}

        {% xlsrow %}
            {% xlscell
                { style:
                    { font:
                        { size: '15',
                          color:{
                            rgb: '0000FF'
                        }

                        }
                    }
                }
        %}Nom du produit{% endxlscell %}
            {% xlscell { style:
                { font:
                    { size: '15',
                        color:{
                        rgb: '0000FF'
                    }

                    }
                }
                } %}Description du produit{% endxlscell %}
            {% xlscell { style:
                { font:
                    { size: '15',
                        color:{
                        rgb: '0000FF'
                    }

                    }
                }
                } %}Operation du produit{% endxlscell %}

            {% xlscell { style:
                { font:
                    { size: '15',
                        color:{
                        rgb: '0000FF'
                    }

                    }
                }
                } %}Supprimé{% endxlscell %}
        {% endxlsrow %}


        {% for produit in produits %}

            {% xlsrow  %}
                {% xlscell %}{{ produit.nomProduit }}{% endxlscell %}
                {% xlscell %}{{ produit.descriptionProduit }}{% endxlscell %}
                {% xlscell %}{{ produit.operationProduit }}{% endxlscell %}
                {% if produit.corbeilleProduit=="non" %}
                {% xlscell { style:
                    { font:
                        {
                            color:{
                            rgb: '00FF00'
                        }

                        }
                    }
                    } %}non supprimé{% endxlscell %}

                {% else %}
                {% xlscell { style:
                    { font:
                        {
                            color:{
                            rgb: 'FF0000'
                        }

                        }
                    }
                    }%} supprimé{% endxlscell %}
                {% endif %}
            {% endxlsrow %}

        {% endfor %}
    {% endxlssheet %}
{% endxlsdocument %}